<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
</head>
<body>
    <a href="/addNewRecipe">Add New Recipe</a>
    <br>
    <a href="/deleteRecipe">Delete Recipe</a>
    <br>
    <a href="/getRecipes">Show all Recipes</a>
    <br>
    <a href="/searchRecipe">Search a Recipe</a>
</body>
</html>